<div>


  <div class=" text-center">
    <h1>{{post.eigenaar}}</h1>
    <p class="lead">on {{ post.datum | date: longDate }}</p>

  </div>
  <div class="text-center">

    <img class="img-thumbnail rounded foto" src="{{post.afbeelding}}">
    <p>{{post.caption}}</p>
  </div>
  <hr>
  <div>
    <p>Reacties</p>
    <mat-list-item *ngFor="let comment of post.comments">

      <app-comment [comment]="comment"></app-comment>


    </mat-list-item>
    <hr>
    <mat-list-item>
      <div class="tkstvld pb-1 pt-2 mb-1">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(post)">



          <mat-form-field appearance="legacy">
            <input matInput class="tekstveld" type="text" formControlName="reactie"
              placeholder="Schrijf een reactie...">
     
          </mat-form-field>       <button class="btn-primary" type="submit" mat-raised-button ng-disabled="!imag">
              Plaats reactie
            </button>
        </form>
      </div>


    </mat-list-item>
  </div>




</div>