<div class="container text-center">

  <h1 class="display-2">Deel een post</h1>


  <div class="cntr">
    <div class="">
      <label class="btn" for="files">Kies uw foto</label>
      <input id="files" required type="file" class="filebtn" accept="image/*" (change)="changeListener($event)">
    </div>
    <div *ngIf="image">
      <h3>Uw foto:</h3>
      <!--  <h4>Base64 encoded:</h4>
             <p>{{image?.replace("data:image/png;base64,", "")}}</p>-->

      <img width=200 src="{{image}}" alt="">
    </div>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">



    <mat-form-field appearance="legacy">
      <mat-label>Beschrijf uw post...</mat-label>
      <input matInput type="text" formControlName="caption" placeholder="">

    </mat-form-field>
    <div>
      <button class="btn " type="submit" mat-raised-button ng-disabled="!imag">
        Delen
      </button></div>

  </form>
  <hr>





</div>

<!-- REMOVE {{ recipe.get('ingredients') | json }} -->
<!-- {{ recipe.get('name').errors | json }} -->