
<div class="text-center pb-2">
  <img class="mb-2" src="../../assets/images/instaclone.png" width=200>
 <hr>
 <div>

 </div>
  <button data-cy="fotoToevoegen" class="mb-4 btn btn-lg btn-success" [routerLink]="['/add-post']">
    Post een foto...
  </button>
</div>

<!--<div class="mb-4">
  <app-add-post (newPost)="addNewPost($event)"></app-add-post>

</div>-->


<div class="container">

  <div class="mx-auto">
    <div class="mb-5" *ngFor="
          let localPost of (posts$ | async )
        ">
        <mat-card>  
          
          <app-post data-cy="postCard" [post]="localPost"></app-post></mat-card>
 
    </div>
  </div>
</div>



